body, html {
    margin: 0;
    top: 0;
    left: 0;
    background-color: #23153c;
  }
  h1 {
      color: #d3ab5b;
      text-shadow: 0 0 10px #000;
      margin: 0;
  }

  @media screen and (max-width: 370px) {
    h1 {
      font-size: 60px;
    }
  }
  @media screen and (max-width: 550px) and (min-width: 371px) {
    h1 {
      font-size: 70px;
    }
  }
  @media screen and (min-width: 551px) {
    h1 {
      font-size: 100px;
    }
  }
  #wave {
      display: grid;
      place-items: center;
      height: 100vh;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    color: #d3ab5b;
    text-shadow: 0 0 10px #000;
  }
  h3 {
    text-align: center;
    font-size: 35px;
    color: #d3ab5b;
    text-shadow: 0 0 10px #000;
  }
  h4 {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 0 0 10px #000;
  }
  h5 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px;
    color: #d3ab5b;
    text-shadow: 0 0 10px #000;
  }
  .padding-div {
    background-color: #23153c;
    width: 100vw;
    height: 150px;
  }
  p {
    color: white;
    font-size: 16px;
  }
  .p-h5 {
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 0 0 10px #000;
  }
  .width {
    max-width: 1024px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
 /*img*/
#Outline_img {
  width: 90vw;
  max-width: 250px;
  text-align: center;
  margin: 0;
}
.img_div {
  display: block;
  margin: auto;
  text-align: center;
}
 /*img*/
 #Outline_img_separate {
  width: 90vw;
  max-width: 500px;
  text-align: center;
  margin: 0;
}
.img_div_separate {
  display: block;
  margin: auto;
  text-align: center;
}
span {
  display: inline-block;
}